<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CrowdTrust</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/page.css" rel="stylesheet">

  </head>

  <body>

  <div th:replace="header :: header"></div>

  <!-- Page Content -->
    <div class="container mt-5 mb-3">

      <div class="row">
          <div class="col-lg-3">
              <center>
                  <h5 class="my-4">
                      <strong>
                          Filtra por organización
                      </strong>
                  </h5>
              </center>
              <div class="list-group">
                  <a href="#" class="list-group-item" th:id="'filter-'+${organization.id}" th:onclick="'filterByOrganization(\'' + ${organization.id} + '\');'" th:each="organization : ${organizations}" th:text="${organization.name}"></a>
              </div>
          </div>

        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
          <div class="row my-4">
                <div class="col-lg-6 col-md-6 mb-4 project-view" th:id="${project.id}" th:each="project : ${projects}">
                    <div style="display: none;" th:id="'organization-'+${org.id}" th:each="org : ${project.organizations}"></div>
                  <div class="card h-100">
                    <a href="#"><img class="card-img-top" th:src="'http://localhost:8080/images/'+${project.image}" alt=""></a>
                    <div class="card-body">
                      <h4 class="card-title" th:text="${project.name}"></h4>
                      <p class="card-text" th:text="${project.description}"></p>
                        <div class="progress" style="height: 30px;">
                            <div class="progress-bar bg-warning" role="progressbar" th:style="'width: '+${((project.totalExternalIncomes+0.0)/project.expectedBudget+0.0)*100}+'%'" aria-valuemin="0" aria-valuemax="100"><strong>Usuarios</strong></div>
                            <div class="progress-bar bg-info" role="progressbar" th:style="'width: '+${((project.totalOrganizationIncomes+0.0)/(project.expectedBudget+0.0)*100)}+'%'" aria-valuemin="0" aria-valuemax="100"><strong>ONGs</strong></div>
                        </div>
                        <small><strong th:text="${((project.totalOrganizationIncomes+project.totalExternalIncomes+0.0)/project.expectedBudget+0.0)*100}+'%'"></strong> del valor total a recaudar: <span th:text="'$'+${project.expectedBudget}+' COP'"></span></small>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <a role="button" th:href="'http://localhost:8080/project/'+${project.id}" class="btn btn-primary btn-md btn-block">Ver</a>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <a role="button" th:href="'http://localhost:8080/project/'+${project.id}" class="btn btn-success btn-md btn-block">Aportar</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
          </div>
          <!-- /.row -->

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; CrowdTrust 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../js/index.js"></script>

  </body>

</html>
